openapi: 3.0.3
info:
  title: Tasks and Notes
  version: 1.0.0
  contact: {}
servers:
  - url: https://api.reshapecreative.com
paths:
  /manage/notes:
    get:
      summary: Get notes
      description: |-
        Gets users notes.  

        to get category IDs use the "get categories" request
      operationId: getNotes
      parameters:
        - name: categoryid
          in: query
          schema:
            type: string
            example: '2'
          description: >-
            (optional) if you want to filter the notes by thier category id you
            may use this param
      responses:
        '200':
          description: ''
  /manage/categories:
    get:
      summary: Get categories
      description: Gets a list of categories and their IDs
      operationId: getCategories
      responses:
        '200':
          description: ''
  /manage/addnote:
    get:
      summary: Add note
      description: add a note
      operationId: addNote
      parameters:
        - name: title
          in: query
          schema:
            type: string
            example: test%20test
          description: Note title (must be url safe)
        - name: body
          in: query
          schema:
            type: string
            example: helo%20world
          description: Note body (must be url safe)
        - name: category
          in: query
          schema:
            type: string
            example: '1'
          description: Note category ID (get category ID from the "get categories" request)
      requestBody:
        content:
          text/plain:
            example: ''
      responses:
        '200':
          description: ''
  /manage/addcategory:
    post:
      summary: Add category
      description: |-
        Add a category  

        The request body looks like this:

        {  
        "name": "TITLE" // name of the note category  
        }
      operationId: addCategory
      requestBody:
        content:
          text/plain:
            example: "{\r\n    \"name\": \"NAME\" // name of the note category\r\n}"
      responses:
        '200':
          description: ''
tags: []
